.product{
    width: 300px;
    height: 530px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-top: 10px;
    position: relative;
}
.product-info{
    padding-left: 12px;
}
.product img{
    height: 286px;
    width: 286px;
}


.cart-btn{
    width: 100%;
    padding:16px 0px ;
    position: absolute;
    bottom: 0;
    border: 0px;
    background-color: #FFE0B3;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 18px;
}
.cart-btn:hover{
    background-color: orangered;
    color: #FFFFFF;
}